# === Python bytecode and compiled files ===
__pycache__/
*.py[cod]
*$py.class
*.so

# === Large and intermediate files ===
*.pdbqt
*.mol2
*.sdf
*.dlg
*.fld
*.maps*
*.log
*.tar.gz
*.gpf
*.xml
*.pdb
*.map
*.out
*.err

# === Docking-specific folders ===
cognate/
cognate_bioemu/
virtual_screening/
dude_raw/
docs/

# === Common Python environment and build folders ===
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# === Logs and cache ===
*.log
pip-log.txt
pip-delete-this-directory.txt
.coverage
.coverage.*
.cache
*.cover
*.py,cover
nosetests.xml
coverage.xml
htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/

# === Tools and configs ===
.pdm.toml
.pdm-python
.pdm-build/
.pdm.lock
.pybuilder/
target/
.pytype/
.pyre/
.mypy_cache/
.dmypy.json
.pytest_cache/
.ruff_cache/

# === Jupyter and IPython ===
.ipynb_checkpoints
profile_default/
ipython_config.py

# === Misc ===
*.spec
*.manifest
*.mo
*.pot
instance/
.webassets-cache
.scrapy
docs/_build/
site/
.ropeproject
.spyderproject
.spyproject

